.search{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    >form{
        width: 100%;
        height: 10%;

        display: flex;
        justify-content: center;
        align-items: center;

        >input{
            width: 30%;
            height: 50%;
            padding-left: 0.2rem;
            border: 2px solid rgb(75, 11, 75);
            border-top-left-radius: 0.4rem;
            border-bottom-left-radius: 0.4rem;

            &:valid{
                border: 1px solid rgb(75, 11, 75);
            }
        }
        >button{
            width: 4rem;
            background-image: repeating-linear-gradient(#8F00FF,#b766f5);
            color: white;
            padding: 0.3rem;
            border: 2px solid gray;
            font-size: 1.2rem;
            font-weight: 600;
            border-top-right-radius: 0.4rem;
            border-bottom-right-radius: 0.4rem;

            &:hover{
                cursor: pointer;
                background-color: #282c34;
                color: white;
            }
        }
    }
    >.searched{
        width: 70%;
        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        overflow-y: scroll;
    }
    >.Bottomnav{
        width: 100%;
        overflow: hidden;
        position: fixed;
        bottom: 0;
    }
}

@media screen and (max-width:700px) {
    .search>form>input{
        width: 50%;
    }
}